body{
    margin: 0;
    padding: 0;
}

.header {
    height: 200px;
    width: 100%;
    background-image: url("../img/ferarri-cap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.header .header-section{
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.header .header-section span b{
    color: rgb(136, 0, 0);  
}

.header .header-section span{
    margin: 0 5px 0 10px;
}

.header .header-section button{
    height: 25px;
    align-self: flex-start;
    color: white;
    background-color: rgb(136, 0, 0);
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    border: none;
}

.main{
    margin-right: 0 20px;
    display: flex;
}

.main .article .article-section{
    margin-top: 20px;
}

.main .article .header-section{
    margin: 0 0 10px 10px;
}

.main .article .header-section h3{
    margin: 0;
    color: rgb(136, 0, 0); 
}

.main .article .header-section small{
    display: block;
    color: gray;
    font-style: italic;
}

.main .article .main-section{
    display: flex;
    margin-bottom: 15px;
}

.main .article .main-section span{
    margin-left: 10px;
}

.main .article .main-section img{
    height: 150px;
    width: 300px;
}

.main .article .footer-section{
    height: 25px;
    margin-right: 20px;
    color: white;
    font-size: 13px;
    background-color: rgb(136, 0, 0);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.main .article .footer-section a{
    font-weight: bold;
}

.main .article .footer-section span{
    margin-left: 10px;
}

.main .article .footer-section > a{
    margin: 0 10px;
}

.main .article .footer-section a:hover{
    color: gray;
}

.main .aside{
    background-color: seashell;
    width: 100%;
}

.main .aside .aside-form h3{
    margin: 0;
    white-space: nowrap;
    font-size: 15px;
    color: rgb(136, 0, 0); 
}

.main .aside .aside-form{
    display: flex;
    margin: 20px 100px 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.main .aside .aside-form .row{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main .aside .aside-form .row .column{
    display: flex;
    flex-direction: column;
}

.main .aside .aside-form .row .column:last-child{
    justify-content: flex-end;
    height: 125px;
    margin-left: 20px;
}

.main .aside .aside-form .row .column a{
    margin-top: 5px;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: rgb(136, 0, 0);
}

.main .aside .aside-form .row .column a:hover{
    color: gray;
}

.main .aside .aside-form label{
    margin-top: 10px;
}

.main .aside .aside-form input[type^="text"]{
    border: 2px solid rgba(192, 182, 182, 0.3);
    border-radius: 25px;
}

.main .aside .aside-form input[type^="submit"]{
    height: 25px;
    align-self: flex-start;
    color: white;
    background-color: rgb(136, 0, 0);
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    border: none;
    margin-top: 20px;
}

.main .aside .aside-navbar{
    margin: 20px 100px 10px 20px;
    white-space: nowrap;
}

.main .aside .aside-navbar h3{
    margin: 0 0 5px 0;
    white-space: nowrap;
    font-size: 15px;
    color: rgb(136, 0, 0); 
}

.main .aside .aside-navbar span{
    font-size: 12px;
}

.main .aside .aside-navbar a{
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 16px;
    font-size: 12px;
    color: rgb(136, 0, 0); 
}

.main .aside .aside-navbar a:hover{
    color: gray;
}

.main .aside .aside-navbar a:last-child{
    margin-left: 5px;
}

.main .aside .aside-form input[type^="submit"]:hover{
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: none;
}

.required {
    color: rgb(136, 0, 0); 
}

@media screen and (max-width: 630px) { /* XS */
    .main{
        flex-direction: column-reverse;
    }

    .article .article-section .main-section span{
        display: none;
    }

    .header .header-section{
        height: 135px;
    }
}

@media screen and (min-width: 630px) and (max-width: 950px) { /* SM */
    .main{
        flex-direction: column-reverse;
    }

    .article .article-section .main-section span{
        display: none;
    }

    .header .header-section{
        height: 50px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1120px) {  /* MD */
    .main{
        flex-direction: column-reverse;
    }
}


